*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

h1,
h2{
    font-weight: 500;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    color: var(--color-text-default);
    cursor: pointer;
}

button{
    cursor: pointer;
}

body{
    font-size: var(--font-size-default);
    font-family: var(--font-family-default);
    color: var(--color-text-default);
    overflow-x: hidden
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, #2d1950, #351f5d, #391d6e, #3a1f72, #2d1950);
}

/*Responsiveness*/
@media only screen and (max-width:992px){
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
}