body{
    --font-size-default: 14px;
    --font-family-default: Helvetica, Arial, sens-serif;

    --color-text-default: #d2d2d2;
    --color-text-magenta: #be51f4;
    --color-bg-dark: rgba(24, 26, 39, 0.93);
}