.container{
    display: flex;
    flex-direction: column;
}
.home{
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.welcome{
    padding-left: 3rem;
    width: 50%;

    transition: all 0.3s ease-in-out;
}
.welcome h1,
.typewritterWrapper{
    font-size: 3rem;
    font-weight: 400;
}
.welcome h1{
    padding-bottom: 1.2rem;
}
.welcome img{
    width: 50px;
    height: auto;
    animation: shake 2s infinite;
}
.name,
.typewritterWrapper{
    color: var(--color-text-magenta);
}
.typewritterWrapper{
   height: 4rem;
}
.image{
    display: flex;
    justify-content: center;
    flex:1;
}
.image img{
    max-width: 350px;
    height: auto;

    transition: all 0.3s ease-in-out;
}

/*Responsiveness*/
@media only screen and (max-width:992px){
    .welcome{
        padding-left: 0;
    }
    .welcome h1,
    .typewritterWrapper{
        font-size: 2rem;
    }
    .welcome img{
        width: 30px;
    }
    .image img{
        max-width: 300px;
    }
}

@media only screen and (max-width:664px){
    .home{
        justify-content: center;
        margin-bottom: 3rem;

    }
    .welcome{
        width: 90%;
    }
    .image{
        justify-content: center;
    }
}

/*Animation*/
@keyframes shake {
    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 100% 50%;
    }

    10% {
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(2deg);
    }
}
