.progress {
    width:300px;
    height:30px;
    border-radius: 20px;
    background:
            repeating-linear-gradient(135deg, #030303 0 10px, #ffa516 0 20px) 0/0%   no-repeat,
            repeating-linear-gradient(135deg,#ddd    0 10px, #eee    0 20px) 0/100%;
    animation:animation 4s infinite;
}
@keyframes animation {
    100% {background-size:100%}
}